html {
	font-family: "Comic Sans Ms", Arial, Serif ;
	font-weight: lighter;
}

header, footer, h3{text-align: center;}
footer {margin-top: 15px;}
a {font-weight: none; text-decoration: underline;}
a:link {color: Blue;}
a:visited {color: Green;}
a:hover {font-weight: bold;}
a:active {text-decoration: none;}

#message {
	color: white;
	text-align: center;
	padding: 10px 20px;
	font-size: large;
	margin-top: -30px;
	margin-left: 200px;
	margin-right: 200px;
	border-style: dotted;

}

#restName {
	font-family: 'Monoton', cursive;
	font-size: xx-large;
}

.bgImage {
	background-image: url('../Images/BGlogo.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.foodMenu {
	color: white;	
	background-color: #040000;
	width: 100%;
	opacity: 0.7;
}

caption {
	color: white;	
	background-color: #040000;
	text-align: center;
}
.bgImage2 {
	background-image: url('../Images/beverages.jpg');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-size: cover;
}
#bgImageTotal, #bgImageTotal2 {padding: 25px;}
.bevMenu {
	color: white;	
	background-color: #040000;
	width: 100%;
	opacity: 0.7;
	margin-bottom: 15px;
}
.bevName {text-align: right; width: 50%;}
.bevPrice{text-align: left; padding-left: 20px;}

